<div class="form-login">

    <div *ngIf="errors" class="alert alert-danger" role="alert">
        L'adresse email ou le mot de passe sont incorrects.
    </div>

    <div class="card">
        <div class="card-header">Se connecter</div>
        <div class="card-body">
            <form #form="ngForm">
                <!-- Email input -->
                <div class="form-group mb-4">
                  <label class="form-label" for="email">Email address</label>
                  <input type="email" id="email" class="form-control" name="email" [(ngModel)]="email">
                </div>
                <!-- Password input -->
                <div class="form-group mb-4">
                  <label class="form-label" for="password">Password</label>
                  <input type="password" id="password" class="form-control" name="password" [(ngModel)]="password">
                </div>
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block" (click)="login(form)">Se connecter</button>
            </form>
        </div>
    </div>

</div>
