<form [formGroup]="todolistForm" (ngSubmit)="submitForm()">

  <div class="form-group mb-4">
    <label class="form-label" for="title">Titre de la liste de tâches</label>
    <input type="text" id="title" class="form-control" formControlName="title" required />
  </div>

  <div formArrayName="tasks" style="margin-bottom: 50px;">
    <div class="row" *ngFor="task of tasks.controls; let i=index">
      <div class="col-md-9">
        <div class="form-group mb-4">
          <input type="text" class="form-control" [id]="i" [formControlName]="i" placeholder="Nom de la tâche n° {{ i+1 }}" required />
        </div>
      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-danger btn-block" (click)="deleteTask(i)" >Supprimer tâche</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <button type="button" class="btn btn-success btn-block" (click)="addTask()" >Ajouter tâche</button>
      </div>
      <div class="col-md-6">
        <button type="submit" class="btn btn-primary btn-block">Créer</button>
      </div>
    </div>
  </div>

</form>
