<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/todolist']" >Listes de tâches</a>
        </li>
        <li *ngIf="localStorageItem('username')" class="nav-item">
          <a class="nav-link" [routerLink]="['/add-todolist']" >Créer liste de tâches</a>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div *ngIf="localStorageItem('username')" class="d-flex align-items-center">
        <button type="button" class="btn btn-dark px-3 me-2" (click)="logout()">Déconnexion</button>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->

<div class="container container-margin">
  <router-outlet></router-outlet>
</div>
